In [257]:
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [258]:
from sklearn import preprocessing

In [259]:
from sklearn.linear_model import LogisticRegression

In [260]:
from sklearn.metrics import classification_report

In [261]:
train_data = pd.read_csv('train.csv')

In [262]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [263]:
train_data = train_data.fillna({'Age': train_data.Age.median()})

In [264]:
train_data['Age_levels'] = pd.cut(train_data['Age'],bins=[0,12,18,79],labels=['Age_1','Age_2','Age_3'], right=False)

In [265]:
train_data.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Age_levels
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,Age_3
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,Age_3
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,Age_3

In [266]:
train_data['Cabin'] = train_data['Cabin'].astype(str)

In [267]:
train_data['Cabin'] = train_data['Cabin'].map(lambda x: x.strip(x[:-1]))

In [318]:
train_data.head(50)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Age_levels
0,0001_01,Europa,False,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,Age_3
1,0002_01,Earth,False,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,Age_3
2,0003_01,Europa,False,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,Age_3
3,0003_02,Europa,False,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,Age_3
4,0004_01,Earth,False,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,Age_2
5,0005_01,Earth,False,P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True,Age_3
6,0006_01,Earth,False,S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True,Age_3
7,0006_02,Earth,True,S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True,Age_3
8,0007_01,Earth,False,S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True,Age_3
9,0008_01,Europa,True,P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True,Age_2
10,0008_02,Europa,True,P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,Altardr Flatic,True,Age_3
11,0008_03,Europa,False,P,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0,Wezena Flatic,True,Age_3
12,0009_01,Mars,False,P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,0.0,113.0,Berers Barne,True,Age_3
13,0010_01,Earth,False,S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,0.0,24.0,Reney Baketton,False,Age_3
14,0011_01,Earth,False,P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,2.0,7.0,Elle Bertsontry,True,Age_3
15,0012_01,Earth,False,,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False,Age_3
16,0014_01,Mars,False,P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,Flats Eccle,False,Age_3
17,0015_01,Earth,False,P,55 Cancri e,24.0,False,0.0,1.0,0.0,0.0,637.0,Carry Hughriend,False,Age_3
18,0016_01,Mars,True,P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,0.0,0.0,Alus Upead,True,Age_3
19,0017_01,Earth,False,P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Lyde Brighttt,True,Age_1
20,0017_02,Earth,False,P,55 Cancri e,14.0,False,412.0,0.0,1.0,0.0,679.0,Philda Brighttt,False,Age_2
21,0020_01,Earth,True,S,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,Almary Brantuarez,False,Age_1
22,0020_02,Earth,True,S,55 Cancri e,49.0,False,0.0,0.0,0.0,0.0,0.0,Glendy Brantuarez,False,Age_3
23,0020_03,Earth,True,S,55 Cancri e,29.0,False,0.0,0.0,NaN,0.0,0.0,Mollen Mcfaddennon,False,Age_3
24,0020_04,Earth,False,S,TRAPPIST-1e,10.0,False,0.0,0.0,0.0,0.0,0.0,Breney Jacostanley,True,Age_1
25,0020_05,Earth,True,S,PSO J318.5-22,1.0,False,NaN,0.0,0.0,0.0,0.0,Mael Brantuarez,False,Age_1
26,0020_06,Earth,False,S,TRAPPIST-1e,7.0,False,0.0,0.0,0.0,0.0,0.0,Terta Mcfaddennon,False,Age_1
27,0022_01,Mars,False,P,TRAPPIST-1e,21.0,False,980.0,2.0,69.0,0.0,0.0,NaN,False,Age_3
28,0024_01,Europa,True,S,TRAPPIST-1e,62.0,False,0.0,0.0,NaN,0.0,0.0,Penton Fullided,True,Age_3
29,0025_01,Earth,False,S,TRAPPIST-1e,15.0,False,0.0,225.0,0.0,998.0,0.0,Karard Brookenson,False,Age_2
30,0026_01,Europa,False,P,55 Cancri e,34.0,False,22.0,6073.0,0.0,1438.0,328.0,Anyoni Unconary,False,Age_3
31,0028_01,Mars,False,P,TRAPPIST-1e,43.0,False,1125.0,0.0,136.0,48.0,0.0,Ceros Mare,False,Age_3
32,0030_01,Earth,False,S,TRAPPIST-1e,32.0,False,0.0,850.0,81.0,437.0,453.0,Ginia Morsentley,False,Age_3
33,0031_01,Mars,False,P,TRAPPIST-1e,47.0,False,214.0,0.0,1411.0,0.0,1229.0,Coobix Datie,True,Age_3
34,0031_02,Mars,False,P,TRAPPIST-1e,2.0,False,0.0,0.0,0.0,0.0,0.0,Cinets Datie,True,Age_1
35,0031_03,Mars,False,P,TRAPPIST-1e,20.0,False,NaN,0.0,1750.0,990.0,0.0,Dontch Datie,True,Age_3
36,0034_01,Europa,True,S,55 Cancri e,28.0,False,0.0,0.0,0.0,0.0,0.0,Ziba Oingwhedly,True,Age_3
37,0035_01,Mars,False,P,55 Cancri e,23.0,False,784.0,964.0,0.0,951.0,0.0,Luse Butte,False,Age_3
38,0036_01,Earth,False,S,55 Cancri e,15.0,NaN,0.0,492.0,48.0,20.0,401.0,Marina Leodger,False,Age_2
39,0038_01,Earth,False,S,55 Cancri e,20.0,False,554.0,195.0,0.0,2606.0,0.0,Loise Wheelez,False,Age_3
40,0039_01,Earth,True,P,55 Cancri e,30.0,False,0.0,0.0,NaN,0.0,0.0,Jorgie Batthewitt,False,Age_3
41,0041_01,Earth,True,P,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,0.0,0.0,Margia Moodsey,True,Age_2
42,0043_01,Europa,False,P,TRAPPIST-1e,45.0,False,0.0,164.0,45.0,2511.0,855.0,Ankalik Cylistrand,False,Age_3
43,0044_01,Earth,True,P,TRAPPIST-1e,55.0,False,0.0,0.0,0.0,0.0,0.0,Jodye Coopelandez,False,Age_3
44,0044_02,Earth,True,P,55 Cancri e,4.0,False,0.0,0.0,0.0,0.0,0.0,Kayne Coopelandez,True,Age_1
45,0044_03,Earth,True,P,PSO J318.5-22,21.0,False,0.0,0.0,0.0,0.0,0.0,Cassa Coopelandez,True,Age_3
46,0045_01,Mars,False,P,TRAPPIST-1e,21.0,False,970.0,0.0,180.0,0.0,64.0,Zelowl Chmad,False,Age_3
47,0045_02,Mars,True,P,NaN,19.0,False,0.0,0.0,0.0,0.0,0.0,Mass Chmad,True,Age_3
48,0050_01,Earth,False,S,55 Cancri e,35.0,False,790.0,0.0,0.0,NaN,0.0,Sony Lancis,False,Age_3
49,0051_01,Earth,False,S,TRAPPIST-1e,56.0,False,0.0,112.0,0.0,1379.0,127.0,Vivia Johnshines,False,Age_3

In [269]:
df_train = pd.get_dummies(train_data, columns=['HomePlanet','CryoSleep', 'Cabin','Destination','VIP', 'Age_levels'])

In [270]:
df_train.columns

Index(['PassengerId', 'Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa',
       'VRDeck', 'Name', 'Transported', 'HomePlanet_Earth',
       'HomePlanet_Europa', 'HomePlanet_Mars', 'CryoSleep_False',
       'CryoSleep_True', 'Cabin_', 'Cabin_P', 'Cabin_S',
       'Destination_55 Cancri e', 'Destination_PSO J318.5-22',
       'Destination_TRAPPIST-1e', 'VIP_False', 'VIP_True', 'Age_levels_Age_1',
       'Age_levels_Age_2', 'Age_levels_Age_3'],
      dtype='object')

In [271]:
df_train.drop(['Name','PassengerId', 'Age', 'Cabin_', 'Cabin_P', 'CryoSleep_False', 'VIP_False'], axis = 1, inplace = True)

In [272]:
df_train

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3
0,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,0,0,0,1,0,0,0,1
1,109.0,9.0,25.0,549.0,44.0,True,1,0,0,0,1,0,0,1,0,0,0,1
2,43.0,3576.0,0.0,6715.0,49.0,False,0,1,0,0,1,0,0,1,1,0,0,1
3,0.0,1283.0,371.0,3329.0,193.0,False,0,1,0,0,1,0,0,1,0,0,0,1
4,303.0,70.0,151.0,565.0,2.0,True,1,0,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.0,6819.0,0.0,1643.0,74.0,False,0,1,0,0,0,1,0,0,1,0,0,1
8689,0.0,0.0,0.0,0.0,0.0,False,1,0,0,1,1,0,1,0,0,0,0,1
8690,0.0,0.0,1872.0,1.0,0.0,True,1,0,0,0,1,0,0,1,0,0,0,1
8691,0.0,1049.0,0.0,353.0,3235.0,False,0,1,0,0,1,1,0,0,0,0,0,1
8692,126.0,4688.0,0.0,0.0,12.0,True,0,1,0,0,1,0,0,1,0,0,0,1

In [273]:
label_encoder = preprocessing.LabelEncoder()

In [274]:
df_train['Transported']= label_encoder.fit_transform(df_train['Transported'])

In [275]:
df_train

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3
0,0.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,0,1,0,0,0,1
1,109.0,9.0,25.0,549.0,44.0,1,1,0,0,0,1,0,0,1,0,0,0,1
2,43.0,3576.0,0.0,6715.0,49.0,0,0,1,0,0,1,0,0,1,1,0,0,1
3,0.0,1283.0,371.0,3329.0,193.0,0,0,1,0,0,1,0,0,1,0,0,0,1
4,303.0,70.0,151.0,565.0,2.0,1,1,0,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.0,6819.0,0.0,1643.0,74.0,0,0,1,0,0,0,1,0,0,1,0,0,1
8689,0.0,0.0,0.0,0.0,0.0,0,1,0,0,1,1,0,1,0,0,0,0,1
8690,0.0,0.0,1872.0,1.0,0.0,1,1,0,0,0,1,0,0,1,0,0,0,1
8691,0.0,1049.0,0.0,353.0,3235.0,0,0,1,0,0,1,1,0,0,0,0,0,1
8692,126.0,4688.0,0.0,0.0,12.0,1,0,1,0,0,1,0,0,1,0,0,0,1

In [276]:
df_train.fillna(df_train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].median(),
                inplace=True)

In [277]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   RoomService                8693 non-null   float64
 1   FoodCourt                  8693 non-null   float64
 2   ShoppingMall               8693 non-null   float64
 3   Spa                        8693 non-null   float64
 4   VRDeck                     8693 non-null   float64
 5   Transported                8693 non-null   int64
 6   HomePlanet_Earth           8693 non-null   uint8
 7   HomePlanet_Europa          8693 non-null   uint8
 8   HomePlanet_Mars            8693 non-null   uint8
 9   CryoSleep_True             8693 non-null   uint8
 10  Cabin_S                    8693 non-null   uint8
 11  Destination_55 Cancri e    8693 non-null   uint8
 12  Destination_PSO J318.5-22  8693 non-null   uint8
 13  Destination_TRAPPIST-1e    8693 non-null   uint8
 14  VIP_True                   8693 non-null   uint8
 15  Age_levels_Age_1           8693 non-null   uint8
 16  Age_levels_Age_2           8693 non-null   uint8
 17  Age_levels_Age_3           8693 non-null   uint8
dtypes: float64(5), int64(1), uint8(12)
memory usage: 509.5 KB

In [278]:
target_trans = df_train.pop('Transported')

In [279]:
# insert column using insert(position,column_name,
# first_column) function
df_train.insert(17, 'Transported', target_trans)

In [280]:
df_train

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3,Transported
0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,1,0,0,0,1,0
1,109.0,9.0,25.0,549.0,44.0,1,0,0,0,1,0,0,1,0,0,0,1,1
2,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,1,0,0,1,1,0,0,1,0
3,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,1,0,0,1,0,0,0,1,0
4,303.0,70.0,151.0,565.0,2.0,1,0,0,0,1,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,0.0,6819.0,0.0,1643.0,74.0,0,1,0,0,0,1,0,0,1,0,0,1,0
8689,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,1,0,0,0,0,1,0
8690,0.0,0.0,1872.0,1.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,1
8691,0.0,1049.0,0.0,353.0,3235.0,0,1,0,0,1,1,0,0,0,0,0,1,0
8692,126.0,4688.0,0.0,0.0,12.0,0,1,0,0,1,0,0,1,0,0,0,1,1

In [281]:
df_train.columns

Index(['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'HomePlanet_Earth', 'HomePlanet_Europa', 'HomePlanet_Mars',
       'CryoSleep_True', 'Cabin_S', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'VIP_True',
       'Age_levels_Age_1', 'Age_levels_Age_2', 'Age_levels_Age_3',
       'Transported'],
      dtype='object')

In [282]:
X = df_train.iloc[:,:-1]
y = df_train.iloc[:,-1]

In [283]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state=42)

In [284]:
model_lr = LogisticRegression(max_iter=100)

In [285]:
model_lr.fit(X_train, y_train)

C:\Users\comar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [286]:
y_pred = model_lr.predict(X_test)

In [287]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[1255  459]
 [ 295 1469]]
              precision    recall  f1-score   support

           0       0.81      0.73      0.77      1714
           1       0.76      0.83      0.80      1764

    accuracy                           0.78      3478
   macro avg       0.79      0.78      0.78      3478
weighted avg       0.79      0.78      0.78      3478

In [288]:
test_data = pd.read_csv('test.csv')

In [317]:
test_data.head(50)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Age_levels
0,0013_01,Earth,True,S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,Age_3
1,0018_01,Earth,False,S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,Age_3
2,0019_01,Europa,True,S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,Age_3
3,0021_01,Europa,False,S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,Age_3
4,0023_01,Earth,False,S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,Age_3
5,0027_01,Earth,False,P,TRAPPIST-1e,31.0,False,0.0,1615.0,263.0,113.0,60.0,Karlen Ricks,Age_3
6,0029_01,Europa,True,P,55 Cancri e,21.0,False,0.0,NaN,0.0,0.0,0.0,Aldah Ainserfle,Age_3
7,0032_01,Europa,True,S,TRAPPIST-1e,20.0,False,0.0,0.0,0.0,0.0,0.0,Acrabi Pringry,Age_3
8,0032_02,Europa,True,S,55 Cancri e,23.0,False,0.0,0.0,0.0,0.0,0.0,Dhena Pringry,Age_3
9,0033_01,Earth,False,S,55 Cancri e,24.0,False,0.0,639.0,0.0,0.0,0.0,Eliana Delazarson,Age_3
10,0037_01,Earth,False,S,TRAPPIST-1e,19.0,False,339.0,3.0,136.0,237.0,0.0,Vivia Rickson,Age_3
11,0040_01,Europa,False,P,TRAPPIST-1e,45.0,False,932.0,74.0,NaN,7.0,1010.0,Antino Pinoffent,Age_3
12,0040_02,Europa,False,P,TRAPPIST-1e,44.0,False,0.0,1561.0,0.0,14.0,224.0,Jihda Pinoffent,Age_3
13,0042_01,Mars,True,P,TRAPPIST-1e,46.0,False,0.0,0.0,0.0,0.0,0.0,Hamus Frité,Age_3
14,0046_01,Earth,False,P,TRAPPIST-1e,21.0,False,0.0,0.0,0.0,1687.0,92.0,Neilda Powery,Age_3
15,0046_02,Earth,False,P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,903.0,NaN,Glene Powery,Age_3
16,0046_03,Earth,False,P,TRAPPIST-1e,20.0,False,2.0,12.0,253.0,457.0,690.0,Joanny Powery,Age_3
17,0047_01,Europa,True,S,TRAPPIST-1e,44.0,False,0.0,0.0,0.0,0.0,0.0,Winonon Prucerod,Age_3
18,0047_02,Europa,False,,TRAPPIST-1e,29.0,False,0.0,7708.0,243.0,569.0,343.0,Muons Prucerod,Age_3
19,0047_03,Europa,False,S,TRAPPIST-1e,40.0,False,26.0,1925.0,8.0,3144.0,63.0,NaN,Age_3
20,0048_01,Earth,False,S,TRAPPIST-1e,30.0,False,0.0,878.0,26.0,3.0,0.0,Tyle Deckerry,Age_3
21,0049_01,Earth,False,P,TRAPPIST-1e,14.0,False,NaN,0.0,0.0,1609.0,0.0,Doria Flynney,Age_2
22,0054_01,Europa,True,P,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Algedia Viouster,Age_3
23,0054_02,Europa,False,P,55 Cancri e,27.0,False,0.0,6977.0,0.0,4.0,1235.0,Alteron Viouster,Age_3
24,0054_03,Europa,False,P,55 Cancri e,66.0,False,39.0,6452.0,0.0,1409.0,155.0,Winon Viouster,Age_3
25,0055_01,Earth,False,P,TRAPPIST-1e,24.0,False,1784.0,8.0,18.0,18.0,0.0,Brence Frederry,Age_3
26,0057_01,Europa,False,P,55 Cancri e,19.0,False,293.0,3495.0,5273.0,118.0,422.0,Gatrin Windend,Age_3
27,0059_01,Earth,True,P,TRAPPIST-1e,36.0,False,0.0,0.0,0.0,0.0,0.0,Janne Carvis,Age_3
28,0060_01,Earth,False,P,TRAPPIST-1e,21.0,False,0.0,619.0,12.0,3.0,0.0,Fanna Ashipeck,Age_3
29,0063_01,Earth,True,S,55 Cancri e,18.0,False,0.0,0.0,0.0,0.0,0.0,Elene Daughessey,Age_3
30,0065_01,Earth,True,S,TRAPPIST-1e,26.0,False,0.0,0.0,0.0,0.0,0.0,Monald Rushorney,Age_3
31,0075_01,Earth,False,S,TRAPPIST-1e,19.0,False,598.0,0.0,30.0,0.0,0.0,Shally Jimes,Age_3
32,0079_01,Earth,True,S,TRAPPIST-1e,48.0,False,0.0,0.0,0.0,0.0,0.0,Verney Sullones,Age_3
33,0080_01,Earth,False,P,TRAPPIST-1e,23.0,False,14.0,870.0,0.0,0.0,23.0,Wandy Llobsoney,Age_3
34,0083_01,Earth,False,P,TRAPPIST-1e,24.0,False,483.0,0.0,87.0,214.0,0.0,Lilasa Barris,Age_3
35,0087_01,Earth,False,P,TRAPPIST-1e,19.0,False,0.0,20.0,135.0,265.0,367.0,Meremy Jarvey,Age_3
36,0089_01,Mars,True,S,TRAPPIST-1e,24.0,False,0.0,0.0,0.0,0.0,0.0,Ors Cha,Age_3
37,0093_01,Earth,False,P,TRAPPIST-1e,27.0,False,66.0,1736.0,0.0,0.0,15.0,Krisa Dukertyler,Age_3
38,0094_01,Earth,True,S,TRAPPIST-1e,6.0,False,NaN,0.0,0.0,0.0,0.0,Jaye Santantines,Age_1
39,0094_02,Earth,False,S,TRAPPIST-1e,33.0,False,0.0,0.0,0.0,866.0,0.0,Terta Santantines,Age_3
40,0095_01,Earth,False,P,PSO J318.5-22,23.0,False,0.0,0.0,1235.0,0.0,0.0,Toddie Benderez,Age_3
41,0096_01,Earth,False,S,PSO J318.5-22,30.0,False,1.0,0.0,1585.0,0.0,484.0,Leenny Swanardy,Age_3
42,0100_01,Earth,False,P,TRAPPIST-1e,26.0,NaN,0.0,17.0,997.0,0.0,0.0,Dary Cochrisons,Age_3
43,0100_02,Earth,False,P,TRAPPIST-1e,1.0,False,0.0,0.0,0.0,0.0,0.0,Mael Cochrisons,Age_1
44,0104_01,Earth,False,S,TRAPPIST-1e,20.0,False,1.0,0.0,0.0,599.0,0.0,Alene Rochan,Age_3
45,0106_01,Earth,True,S,TRAPPIST-1e,17.0,False,0.0,0.0,0.0,0.0,0.0,Therly Puckenton,Age_2
46,0109_01,Earth,False,P,TRAPPIST-1e,34.0,False,0.0,0.0,39.0,1.0,556.0,Tonald Wolferton,Age_3
47,0117_01,Earth,False,P,PSO J318.5-22,24.0,False,0.0,22.0,82.0,0.0,686.0,Megany Ewiseston,Age_3
48,0118_01,Earth,False,P,TRAPPIST-1e,29.0,False,14.0,869.0,NaN,1.0,0.0,Troyce Moodmandez,Age_3
49,0121_01,Earth,False,P,TRAPPIST-1e,20.0,False,1037.0,1.0,2.0,0.0,1576.0,Kendy Mayson,Age_3

In [290]:
test_data = test_data.fillna({'Age': test_data.Age.median()})

In [291]:
test_data['Age_levels'] = pd.cut(test_data['Age'],bins=[0,12,18,79],labels=['Age_1','Age_2','Age_3'], right=False)

In [292]:
test_data['Cabin'] = test_data['Cabin'].astype(str)

In [293]:
test_data['Cabin'] = test_data['Cabin'].map(lambda x: x.strip(x[:-1]))

In [294]:
df_test = pd.get_dummies(test_data, columns=['HomePlanet','CryoSleep', 'Cabin', 'Destination','VIP', 'Age_levels'])

In [295]:
df_test.drop(['Name','PassengerId', 'Age', 'Cabin_', 'Cabin_P', 'CryoSleep_False', 'VIP_False'], axis = 1, inplace = True)

In [296]:
df_test

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3
0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1
1,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1
2,0.0,0.0,0.0,0.0,0.0,0,1,0,1,1,1,0,0,0,0,0,1
3,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,1,0,0,1,0,0,0,1
4,10.0,0.0,635.0,0.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1
4273,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,0,0,1,0,0,0,1
4274,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,1,0,0,0,0,0,1
4275,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,0,0,0,0,0,0,1
4276,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,1,0,0,0,0,1

In [297]:
df_test.fillna(df_test[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].median(),
                inplace=True)

In [298]:
X_test=df_test.iloc[:,:]
y_pred = model_lr.predict(X_test)

In [299]:
test_pred = pd.concat([df_test, pd.DataFrame(y_pred)], axis=1)

In [300]:
test_pred

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3,0
0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1,1
1,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,0
2,0.0,0.0,0.0,0.0,0.0,0,1,0,1,1,1,0,0,0,0,0,1,1
3,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,1,0,0,1,0,0,0,1,1
4,10.0,0.0,635.0,0.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1,1
4273,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,0,0,1,0,0,0,1,0
4274,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,1,0,0,0,0,0,1,1
4275,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,0,0,0,0,0,0,1,1
4276,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,1,0,0,0,0,1,1

In [301]:
test_pred.rename(columns={0: 'Transported'},
          inplace=True, errors='raise')

In [302]:
test_pred

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3,Transported
0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1,1
1,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,0
2,0.0,0.0,0.0,0.0,0.0,0,1,0,1,1,1,0,0,0,0,0,1,1
3,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,1,0,0,1,0,0,0,1,1
4,10.0,0.0,635.0,0.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1,1
4273,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,0,0,1,0,0,0,1,0
4274,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,1,0,0,0,0,0,1,1
4275,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,0,0,0,0,0,0,1,1
4276,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,1,0,0,0,0,1,1

In [303]:
output_log = pd.DataFrame({'PassengerId':test_data.PassengerId, 'Transported':test_pred.Transported})
output_log["Transported"] = output_log["Transported"].astype(bool)
output_log.to_csv('my_submission_log_Cabin.csv', index=False)

In [304]:
output_log.describe()

       PassengerId Transported
count         4277        4277
unique        4277           2
top        0013_01        True
freq             1        2292

RANDOM FOREST

In [305]:
X_train_rf, X_test_rf, y_train_rf, y_test_rf = train_test_split(X, y, test_size = 0.4, random_state=42)

In [306]:
model_rf = RandomForestClassifier()
paramertrs = {'criterion': ["entropy", "gini"], 'n_estimators': range(10, 25, 5), 'max_depth': range(3, 10),
             'min_samples_split': range(2, 10), 'min_samples_leaf': range(2, 10)}
grid_search_cv = GridSearchCV(model_rf, paramertrs, cv=10)
grid_search_cv.fit(X_train_rf, y_train_rf)

GridSearchCV(cv=10, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': range(3, 10),
                         'min_samples_leaf': range(2, 10),
                         'min_samples_split': range(2, 10),
                         'n_estimators': range(10, 25, 5)})

In [307]:
grid_search_cv.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'min_samples_leaf': 5,
 'min_samples_split': 2,
 'n_estimators': 20}

In [308]:
best_rf = grid_search_cv.best_estimator_

In [309]:
y_pred_rf = best_rf.predict(X_test_rf)

In [310]:
print(confusion_matrix(y_test_rf, y_pred_rf))
print(classification_report(y_test_rf, y_pred_rf))

[[1288  426]
 [ 323 1441]]
              precision    recall  f1-score   support

           0       0.80      0.75      0.77      1714
           1       0.77      0.82      0.79      1764

    accuracy                           0.78      3478
   macro avg       0.79      0.78      0.78      3478
weighted avg       0.79      0.78      0.78      3478

In [311]:
X_test_rf_fin=df_test.iloc[:,:]
y_pred_rf_fin = best_rf.predict(X_test_rf_fin)

In [312]:
test_pred_rf = pd.concat([df_test, pd.DataFrame(y_pred_rf_fin)], axis=1)

In [313]:
test_pred_rf.head(5)

,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_S,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True,Age_levels_Age_1,Age_levels_Age_2,Age_levels_Age_3,0
0,0.0,0.0,0.0,0.0,0.0,1,0,0,1,1,0,0,1,0,0,0,1,1
1,0.0,9.0,0.0,2823.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,0
2,0.0,0.0,0.0,0.0,0.0,0,1,0,1,1,1,0,0,0,0,0,1,1
3,0.0,6652.0,0.0,181.0,585.0,0,1,0,0,1,0,0,1,0,0,0,1,1
4,10.0,0.0,635.0,0.0,0.0,1,0,0,0,1,0,0,1,0,0,0,1,1

In [314]:
test_pred_rf.rename(columns={0: 'Transported'},
          inplace=True, errors='raise')

In [315]:
output_rf = pd.DataFrame({'PassengerId':test_data.PassengerId, 'Transported':test_pred_rf.Transported})
output_rf["Transported"] = output_rf["Transported"].astype(bool)
output_rf.to_csv('my_submission_Cabin.csv', index=False)

In [316]:
output_rf.value_counts().sum()

4277

In [190]:
output_rf.describe()

       PassengerId Transported
count         4277        4277
unique        4277           2
top        0013_01       False
freq             1        2140